*{
    box-sizing: border-box;
}
:root{
    --first-font-size: 1.6em;
    --second-font-size: 1.3em;
    --third-font-size: 1.1em;
    --forth-font-size: 1em;
    --fifth-font-size: 1em;
    --card-bg-color:245,245,245 ;
    --search-and-project-bg-color: 219, 217, 217;
    --dash-and-button-bg-color: 17, 152, 242;
    --header-border-radius: 30px;

}

body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr/ 1fr 4fr;
}
body > *{
    padding: 20px;
    font-size: 100%;
}
.header{
    background-color:rgb(var(--card-bg-color));
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 1fr 2fr/ 3fr 2fr;
    gap: 5px;
}
.header-child.search{
    gap:20px;
}

.dashboard{
    grid-area: 1/1/3/2;
    background-color: rgb(var(--dash-and-button-bg-color));
}
.dashboard .dashboard-item{
    display: block;
    
}

.projects{
    display: grid;
    grid-template-columns:4fr minmax(250px, 1fr);
    grid-template-rows: 30px 1fr;
    grid-area: 2/2/3/3;
    background-color: rgb(var(--search-and-project-bg-color));
    padding: 40px 15px;
    column-gap: 40px;

}
.search, .profile-pic, .buttons{
    display: flex;
    align-items: center;

}
.search > div{
    background-color: rgb(var(--search-and-project-bg-color));
    border-radius: var(--header-border-radius);
    height: 80%;
    flex: 1;
}
.profile-pic{
    justify-content: space-around;
    padding: 0px calc(100vw - 1770px);
}
.buttons{
    justify-content: space-around;
}
.header-child > button{
    width: 25%;
    height: 40px;
    background-color: rgb(var(--dash-and-button-bg-color));
    border: none;
    border-radius: var(--header-border-radius);
   
} 

.profile-name{
    display: grid;
    grid-template: 40px 60px/ 100px 200px;

}
.profile-name > span{
    grid-area: 1/1/3/2;
}
.dashboard > div{
    margin-bottom: 30px;
}
.dashboard div > span:not(.title){
    margin-bottom: 15px;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr ));
    grid-template-rows: repeat(2, minmax(125px,1fr));
    grid-auto-rows: minmax(125px,1fr) ;
    gap: 20px;
}

.project-card{
    /* border: solid black; */
}
.project-card > *, .announcements-list > *{
    margin: 0px;
    padding: 0px;
}
.projects-list > .project-card{
    padding: 25px 15px;
}
.topical-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.announcements{
    padding:10px;
    /* border: solid black; */
    flex: 5;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.announcements-list{
    padding: 10px;
}
.announcements-list ~ div.announcements-list{
    border-top: solid black;
}

.trending{
    padding: 25px;
    /* border: solid black; */
    flex: 4;
    margin-top: -25px; 
}

.dashboard-item.title, .profile-name .name{
    font-size:var(--first-font-size) ;
}

.dashboard-item{
    font-size: var(--second-font-size);
}
h4, .mo{
    margin: 0px;
    font-size: var(--third-font-size);
}
h5, .buttons button{
    font-size: var(--forth-font-size);
}
h6, .profile-name p::first-line{
    font-size: var(--fifth-font-size);

}
.project-card, .trending, .announcements{
    background-color: rgb(var(--card-bg-color));
    border-radius: 10px;
}
button, .dashboard-item{
    color: rgb(var(--card-bg-color));
    font-weight: 600
}
.project-card p, .topical-info p{
    color: rgb(75,75,75)
}


